In [ ]:
# import requests

# data_url = 'https://assets.publishing.service.gov.uk/media/66c6ef366bd4274a15d76695/2024-08-22_-_Worker_and_Temporary_Worker.csv'
# response = requests.get(data_url)

# if response.status_code == 200:
#     # Open a local file in write-binary mode
#     with open('downloaded_file.txt', 'wb') as file:
#         # Write the content of the response to the file
#         file.write(response.content)

In [17]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [9]:
url = "https://www.gov.uk/government/publications/register-of-licensed-sponsors-workers"

page = requests.get(url)
soup = bs(page.content, 'html.parser')
tags = soup.find_all('a')
links = [tag['href'] for tag in tags]

In [16]:
url = 'https://assets.publishing.service.gov.uk/'
link = [link for link in links if link.startswith(url)]
download_url = link[0]
download_url

'https://assets.publishing.service.gov.uk/media/66c84b0007733cc4df618245/2024-08-23_-_Worker_and_Temporary_Worker.csv'

In [18]:
dataframe = pd.read_csv(download_url)
dataframe

,Organisation Name,Town/City,County,Type & Rating,Route
0,McMullan Shellfish,Ballymena,Co Antrim,Worker (A rating),Skilled Worker
1,(IECC Care) Independent Excel Care Consortium ...,Colchester,NaN,Worker (A rating),Skilled Worker
2,*ABOUTCARE HASTINGS LTD,East Sussex,NaN,Worker (A rating),Skilled Worker
3,???£ ESS LTD,Manchester,NaN,Worker (A rating),Skilled Worker
4,@ Architect UK Ltd,West Horndon,Essex,Worker (A rating),Skilled Worker
...,...,...,...,...,...
119189,Zyzzle Limited,Surbiton,NaN,Worker (A rating),Skilled Worker
119190,ZZA CONSULTING LIMITED,LONDON,NaN,Worker (A rating),Skilled Worker
119191,ZZIY Ltd,High Wycombe,NaN,Worker (A rating),Skilled Worker
119192,ZZN STUDIO LTD,HAMPTON,NaN,Worker (A rating),Skilled Worker
119193,Zzoomm Plc,Oxford,NaN,Worker (A rating),Skilled Worker

In [19]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119194 entries, 0 to 119193
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Organisation Name  119194 non-null  object
 1   Town/City          119191 non-null  object
 2   County             41146 non-null   object
 3   Type & Rating      119194 non-null  object
 4   Route              119194 non-null  object
dtypes: object(5)
memory usage: 4.5+ MB